:host {
  background-color: #f8f9bb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em;
}


.todos-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;


}

.add-todo {
  padding: 1em;
  font-size: 1.1em;
}
