:host {
  background-color: #f8f9bb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em;
}

.add-todo button ,  .add-todo input {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-todo {
  padding: 1em;
  font-size: 1.1em;
}

.todos-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;


}



.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.completed {
  text-decoration: line-through;
  color: #ccc;
}
