<section class="add-todo">

  <!-- <form (ngSubmit)="handleSubmitAddTodo()">
    <input name="todoText"
      type="text"
      placeholder="add new todo here"
      [(ngModel)]="addTodoText">
    <button type="submit">Add Todo</button>
  </form> -->

  <app-add-todo (addTodo)="handleSubmitAddTodo($event)"></app-add-todo>

  <!-- <span>{{addTodoText}}</span> -->
</section>
<section class="todos-list">
  <div *ngFor="let todo of todosList;"
    class="todo-item  {{todo.completed ? 'completed' : 'uncompleted'}}">
    <span class="todo-text">{{todo.text}}</span>
    <!-- <input type="checkbox"   [(ngModel)]="todo.completed"> -->
    <input type="checkbox"  (change)="handleComplete(todo)"  [value]="todo.completed">
    <button (click)="handleDelete(todo.id)">Delete</button>
  </div>
</section>
