<main>
  <h1>seconds now: {{secondsNow}}</h1>


  <input type="text" placeholder="whatever" getFocus>

  <!-- <button (click)="inc()">{{count}}</button> -->

  <p *ngIf="secondsNow % 10 === 0; else elseBlock">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo beatae dolore consequuntur eum sapiente tenetur
    minus doloribus cumque, saepe aspernatur amet ullam sed, ducimus illo dolores labore ex, repudiandae deleniti.
  </p>

  <ng-template #elseBlock>
    <p>#elseBlock</p>
  </ng-template>

  @if(secondsNow % 3 === 0) {
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo beatae dolore consequuntur eum sapiente tenetur
    minus doloribus cumque, saepe aspernatur amet ullam sed, ducimus illo dolores labore ex, repudiandae deleniti.
  </p>
  } @else {
  <p>
    else
  </p>
  }

  <!-- <counter *ngFor="let emoji of smiles"
    [startAt]="emoji"></counter>


  @for (emoji of smiles; track emoji) {
  <counter [startAt]="emoji"></counter>
  } -->



</main>
